@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    height: 4px; 
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 2px; 
  }

 
  .custom-scrollbar {
    scrollbar-color: grey transparent; 
    scrollbar-width: thin; 
  }

  .text-stroke{
    -webkit-text-stroke: 2px #FCE186;
    color: transparent;
  }